.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-bottom: 1px solid #000;

  .logo {
    width: 60px;
    height: 60px;
    background: url(../assets/logo.svg) no-repeat center center;
    background-size: 100%;
    margin-right: 10px;

    a {
      display: block;
      height: 100%;
      text-indent: -9999px;
    }
  }

  a {
    color: #000;
    font-size: 1.4em;
    text-decoration: none;
  }

  li {
    line-height: 60px;
  }
}

.main-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
  }
}

